//color pallete to use
$brown: #d3ac63;
$light-brown: #fff2da;
$white: #ffffff;
$dark-brown: #805f26;


* {
    color: $brown;
    text-decoration: none;
}






//navbar styling

/*CLASSNAMES:
id - App-header (container)
class - App-header-text
*/

/*App-header
    background-color: brown
*/

/* App-header-text
    text-decoration: none
    text color: light brown
    hover : white color
    text-align: left
*/




//index page styling

/* CLASSNAMES:
id - 
class - App-body(container)
*/




//login page styling

/* CLASSNAMES:
id - form-container
    login-header
class - login-container
        form-group
        login-label
        App-body
*/

/*form-container
    background-color: white
*/

/*login-header
    text color: dark brown
*/

/*login-label
    text color: brown
*/




//text styling

/* CLASSNAMES:
id - 
class - 
element - h2
*/

/* h2
    color: $brown;
    text-decoration: none;
*/




//button styling

/* CLASSNAMES:
id - 
element - button
class - 
*/
/* button
    text color: dark brown
*/


#App-header , .App-body {
    background-color: $light-brown;
}

